.pricipal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(56, 53, 49);
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  margin-bottom: 0;
}

.title-link {
  border: 2px solid rgb(192, 152, 33);
  padding: 1rem;
  border-radius: 5px;
  width: 200px;
}

.title-link a {
  text-decoration: none !important;
  color: rgb(192, 152, 33);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100px;
}
.app-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(230, 205, 205, 0.171);
}

.mesagge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mesagge img {
  width: 35px;
}

.mesagge p {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 5%;
}

.piano-container {
  display: inline-flex;
  margin-top: 25px;
}

.piano-natural-key {
  width: 60px;
  height: 190px;
  cursor: pointer;
  background: #fafafa;
  margin: 0 2px;
  color: rgb(122, 116, 116);
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.piano-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
  color: rgb(194, 189, 189);
  font-weight: 400;
}

.piano-natural-key-playing {
  border-bottom: 10px solid rgb(192, 152, 33);
  color: rgb(255, 187, 0);
}

.piano-accidental-key-wrapper {
  position: relative;
  width: 0;
}

.piano-accidental-key {
  position: absolute;
  cursor: pointer;
  background: rgb(44, 43, 43);
  transform: translateX(-50%);
  width: 46px;
  height: 130px;
  border-radius: 0 0 5px 5px;
  border: 3px solid #444;
  border-top: none;
  padding: 5px;
  outline: none;
  color: #dbdbdd;
  font-weight: 400;
}
